<nav  class="navbar navbar-expand-lg navbar-light bg-light">
	<a  class="navbar-brand"  href="#">Opswatron</a>
	<button  class="navbar-toggler"  type="button"  data-toggle="collapse"  data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent"  aria-expanded="false"  aria-label="Toggle navigation">
		<span  class="navbar-toggler-icon"></span>
	</button>
	<div  class="collapse navbar-collapse"  id="navbarSupportedContent">
		<ul  class="navbar-nav mr-auto">
			<li  class="nav-item active">
				<a class="nav-link" [hidden]="!isAuthenticated()" [routerLink] = "'/login'" [routerLinkActive]="'is-active'"> Login <span  class="sr-only">(current)</span></a>
			</li>
			<li  class="nav-item active">
				<a class="nav-link" [hidden]="isAuthenticated()" [routerLink] = "'/user'" [routerLinkActive]="'is-active'"> Users <span  class="sr-only">(current)</span></a>
			</li>
			<li  class="nav-item active">
				<a class="nav-link" [hidden]="isAuthenticated()" [routerLink] = "'/player'" [routerLinkActive]="'is-active'"> Players <span  class="sr-only">(current)</span></a>
			</li>
			<li  class="nav-item active">
				<a class="nav-link" [hidden]="isAuthenticated()" [routerLink] = "'/opswatron'" [routerLinkActive]="'is-active'"> OpswaTRON <span  class="sr-only">(current)</span></a>
			</li>
			<li  class="nav-item active">
				<a style="cursor: pointer;" class="nav-link" [hidden]="isAuthenticated()" (click)="logout()"> Logout <span  class="sr-only">(current)</span></a>
			</li>
		</ul>
	</div>
</nav>

<div  class="container-fluid">
	<router-outlet></router-outlet>
</div>
