<div class="content container" role="main">
	<div class="row">
		<div class="col-md-4 offset-md-4">
			<button type="button"
					class="btn btn-primary"
					(click)="getPlayers()"
			>Get Players</button>
			<hr>
			<div class="form-group">
				<label for="playername">playername:</label>
				<input type="playername"
					   class="form-control"
					   id="playername"
					   name="playername"
					   [(ngModel)]="playername"
				>
			</div>
			<input type="file" name="player" ng2FileSelect [uploader]="uploader" />
			<button type="button" class="btn btn-success btn-s"
					(click)="uploader.uploadAll()"
					[disabled]="!uploader.getNotUploadedItems().length" >
				Upload Player
			</button>
		</div>
	</div>
</div>
