<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/login" enctype="application/x-www-form-urlencoded" method="POST">
       Username: <input type="text" name="username" /> <br>
       Password: <input type="password" name="password" /> <br>
       <input type="submit" value="Login" />
    </form>
    <form action="/user" method="GET">
        <input type="submit" value="get users">
    </form>
  </body>
</html>
