<div class="content container" role="main">
	<div class="row">
		<div class="col-md-4 offset-md-4">
			<button type="button"
					class="btn btn-primary"
					(click)="getUsers()"
			>Get Users</button>
		</div>
	</div>
</div>
