/* latin */
@font-face {
	font-family: 'Antic Slab';
	font-style: normal;
	font-weight: 400;
	src: local('Antic Slab Regular'), local('AnticSlab-Regular'), url(https://fonts.gstatic.com/s/anticslab/v8/bWt97fPFfRzkCa9Jlp6IacVcXA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#gameCanvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#score {
	text-align: center;
	font-size: 140px;
	font-family: 'Antic Slab', serif;
}

