<div class="content container" role="main">
	<div class="row">
		<div class="col-md-4 offset-md-4">
			<form [formGroup]="loginForm" (ngSubmit)="onClickSubmit()">
				<div class="form-group">
					<label for="username">Username:</label>
					<input type="text"
						   class="form-control"
						   id="username"
						   name="username"
						   placeholder="username"
						   formControlName="username"
					>
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password"
						   class="form-control"
						   id="password"
						   name="password"
						   formControlName="password"
						   placeholder="password"
					>
				</div>
				<button type="submit" class="btn btn-primary">Login</button>
			</form>
		</div>
	</div>
</div>
